
*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: 'acumin-pro', sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 24px;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	line-height: 28px;
}

h2{
	line-height: 6px !important;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}


h3{
	line-height: 14px !important;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	margin-top: 0px;
}

h4{
	font-size: 20px;
	font-family: 'acumin-pro', sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-left: 8%;
	margin-right: 8%;
}

h5{
	line-height: 12px !important;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	display: none;
}

.box{
	width: 50%;
	display: inline-block;
}

br{
	line-height: 0px;
}

a:link {
	color: rgb(0, 0, 0);
  }
  
  a:visited {
	color: rgb(0, 0, 0);
  }
  
  a:hover {
	color: #a3a3a3;
  }
  
  a:active {
	color: #707070;
  }


.column {
	float: left;
	padding: 10px;
}
  
.left {
	width: 20%;
	position: fixed;
	margin-left: 16px;
}
  
.right {
	width: 65%;
	margin-left: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.half {
	width: 49%;
	margin-left: 25%;
}

.phonepic {
	display:none;
}

.line{
    width: 100%;
    height: 47px;
    border-bottom: 1.5px solid black;
    }

@media screen and (max-width: 800px) {
	.left {
		position: relative;
	}
	.right {
		margin-left: 0%;
	}
	.column {
	  margin-left: 2.5%;
	  width: 95%;
	}
	h2 {
	  display: none;
	}
	h5 {
		display:inline-block;
		position:absolute;
		margin-block-start: -1%;
	}
	.phonepic {
		display: inline-block;
	}
	.half {
		display:none;
	}
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
	h1 {
		font-size: 20px;
		line-height: 22px;
	}
}

html {
	scroll-behavior: smooth;
   }

   scroll-container {
	overflow-y: scroll;
	scroll-behavior: smooth;
  }
  scroll-page {
	display: flex;
  }
  
  .image {
	display: inline;
	width: 50%;
	height: auto;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }




#ysl {
	width: 49%;
	height: 15vw;
	background: url("assets/ysl1.png") no-repeat;
	background-size: cover;
	display: inline-block;
}
#ysl:hover {
	background: url("assets/ysl2.png") no-repeat;
	background-size: cover;
	transition: .3s ease-in-out;
}

#balenciaga {
	width: 49%;
	height: 15vw;
	background: url("assets/balenciaga1.png") no-repeat;
	background-size: cover;
	display: inline-block;
	margin-left: 1%;
}
#balenciaga:hover {
	background: url("assets/balenciaga2.png") no-repeat;
	background-size: cover;
	transition: .3s ease-in-out;
}

#burberry {
	width: 49%;
	height: 15vw;
	background: url("assets/burberry1.png") no-repeat;
	background-size: cover;
	display: inline-block;
	margin-top: 1%;
}
#burberry:hover {
	background: url("assets/burberry2.png") no-repeat;
	background-size: cover;
	transition: .3s ease-in-out;
}

#balmain {
	width: 49%;
	height: 15vw;
	background: url("assets/balmain1-01.png") no-repeat;
	background-size: cover;
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
}
#balmain:hover {
	background: url("assets/balmain2-01.png") no-repeat;
	background-size: cover;
	transition: .3s ease-in-out;
}